<h1 mat-dialog-title>Credits</h1>
<div mat-dialog-content>
  <p>
    The Material Angular Theme Generator, written by Timothy Soehnlin. <a href="https://github.com/arciisine">Github</a>
  </p>
  <h3>Special Thanks</h3>
  <ul>
    <li>Thanks to MIKEL BITSON, the <a href="http://mcg.mbitson.com/">demo</a> provided the
      algorithm for color palette computation.
      computation.</li>
    <li>Thanks to Material-UI, for providing the <a href="https://github.com/mui-org/material-ui">source
        for
        the SVG icon sets</a>.</li>
    <li>
      Thanks to the team behind the <a href="https://material.io/tools/theme-editor/">Material
        Theme Editor</a>.
    </li>
  </ul>
</div>
