.palettes {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "primary accent warn";
  margin-bottom: 1em;
}

.text {
  grid-template-columns: 60px 1fr 1fr;
  grid-template-rows: 25px 1fr 1fr;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  grid-template-areas:
    "title txt bg"
    "lt lt-txt lt-bg"
    "dk dk-txt dk-bg";

  .bg, .txt, .lt, .dk {
    font-size: .8rem;
  }

  .lt, .dk {
    text-align: right;
  }
  .bg, .txt {
    text-align: center;
  }

  h3 { grid-area: title; }
  .lt { grid-area: lt; }
  .dk { grid-area: dk; }
  .bg { grid-area: bg; }
  .txt { grid-area: txt; }
  .lt-bg { grid-area: lt-bg; }
  .lt-txt { grid-area: lt-txt; }
  .dk-bg { grid-area: dk-bg; }
  .dk-txt { grid-area: dk-txt; }

  app-color-picker {
    height: 30px;
    border: 1px solid #ddd;

    input {
    }
  }
}

.primary {
  grid-area: primary;
}

.accent {
  grid-area: accent;
}

.warn {
  grid-area: warn;
}


h2, h3, h4 {
  margin: 0;
  line-height: 1.5em;
}

h3 {
  font-size: 1rem;
}
h4 {
  font-size: .8rem;
}


ul {
  list-style-position: inside;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: .5em;

  li {
    padding: .1em;
    font-size: 9pt;
    text-align: center;
  }
}