<h2>
  <a class="help" href="https://material.io/design/color/the-color-system.html#color-theme-creation"
    target="_blank" matBadge="?" matBadgeSize="small">Palette</a>
</h2>
<div class="palettes">
  <div class="primary">
    <h2>
      Primary
    </h2>
    <app-sub-palette-picker [form]="form.get('primary')"></app-sub-palette-picker>
  </div>
  <div class="accent">
    <h2>
      Accent
    </h2>
    <app-sub-palette-picker [form]="form.get('accent')"></app-sub-palette-picker>
  </div>
  <div class="warn">
    <h2>
      Warning
    </h2>
    <app-sub-palette-picker [form]="form.get('warn')"></app-sub-palette-picker>
  </div>
</div>
<mat-divider></mat-divider>
<h2>
  <a class="help" href="https://material.io/design/color/text-legibility.html#legibility-standards"
    target="_blank" matBadge="?" matBadgeSize="small">
    Text
  </a>
</h2>
<div class="text">
  <div class="light">
    <h2>
      <span class="wrapper">
        Light
      </span>
      <app-color-picker [control]="form.get('textLight')"></app-color-picker>
    </h2>
  </div>
  <div class="dark">
    <h2>
      <span class="wrapper">
        Dark
      </span>
      <app-color-picker [control]="form.get('textDark')"></app-color-picker>
    </h2>
  </div>
</div>
