:host {
  display: block;
  padding: 0;
  position: relative;
}

::ng-deep .mat-dialog-content {
  max-height: 85vh;
  max-width: 80vw;
}

.spacer {
  width: 100%;
}

mat-form-field {
  position: absolute;
  left: 350px;
  top: 80px;
  font-size:  9pt;
  z-index: 100;
}

mat-toolbar-row {
  a {
    color: white;
    font-size: .7em;
    padding-left: 1em;
  }
}

[mat-dialog-content] ::ng-deep .mat-tab-body-wrapper {
  width: 80vw;
  height: calc(85vh - 84px - 48px - 10px);
  overflow-y: auto;
  overflow-x: hidden;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;

  box-sizing: border-box;
  padding: 1.5em;
  display: block;
}