<mat-toolbar color="accent" mat-dialog-title>
  <mat-toolbar-row>
    <span class="header">Select a Font</span>
    <a href="https://fonts.google.com" target="_blank">Source</a>
    <span class="spacer"></span>
    <button class="close" mat-icon-button mat-dialog-close color="primary">
      <mat-icon data-close>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" mat-dialog-content>
  <mat-form-field>
    <input type="text" [formControl]="search" matInput name="filter" placeholder="Search..."
           (input)="filter = $event.target.value" />
  </mat-form-field>
  <mat-tab-group #tabGroup>
    <mat-tab label="Sans-Serif" #ssTab>
      <cdk-virtual-scroll-viewport itemSize="50" *ngIf="ssTab.isActive">
        <app-google-font-item *cdkVirtualFor="let f of getFonts('sans-serif')" (click)="pickFont(f)"
                              [f]="f" [sample]="sample"></app-google-font-item>
      </cdk-virtual-scroll-viewport>
    </mat-tab>
    <mat-tab label="Serif" #sTab>
      <cdk-virtual-scroll-viewport itemSize="50" *ngIf="sTab.isActive">
        <app-google-font-item *cdkVirtualFor="let f of getFonts('serif')" (click)="pickFont(f)" [f]="f"
                              [sample]="sample"></app-google-font-item>
      </cdk-virtual-scroll-viewport>
    </mat-tab>
  </mat-tab-group>
</div>
