<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'" [mode]="'side'">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item>Home</a>
        <a mat-list-item>Account</a>
        <a mat-list-item>Sign Out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Sample Application</span>
          <span class="spacer"></span>
          <mat-icon>favorite</mat-icon>
          <mat-icon>delete</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <span>Status</span>
          <span class="spacer"></span>
          <mat-icon>home</mat-icon>
          <mat-icon matBadge="22" matBadgePosition="above after">email</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="body">
        <mat-tab-group #tabGroup (selectedTabChange)="handleTabChange($event)">
          <mat-tab label="Controls">
            <app-preview-controls></app-preview-controls>
          </mat-tab>
          <mat-tab label="Containers">
            <app-preview-containers *ngIf="activeTab === 'Containers'"></app-preview-containers>
          </mat-tab>
          <mat-tab label="Typography">
            <app-preview-typography></app-preview-typography>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
