:host {
  display: block;
  width: 100vw;
  height: 100vh;

  .mat-app-background {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .body {
    padding: 1em;
  }

  mat-sidenav-container {
    height: 100vh;
  }

  mat-nav-list {
    width: 300px;
  }

  mat-toolbar-row {
    .spacer {
      width: 100%;
    }
  }
}