:host {
  display: grid;
  grid-template-areas: "table dialog";
  grid-column-gap: 20px;
  grid-template-columns: 1fr 500px;
  width: 100%;
}

table {
  grid-area: table;
}

.dialog {
  grid-area: dialog;
}

