:host {
  display: block;
}

/deep/ .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.2);
}

mat-sidenav-container {
  position: static;
  mat-sidenav {
    position: absolute;
  }
  mat-sidenav {
    min-width: 300px;
    .options {
      padding: 2em;
    }    
    mat-form-field {
      display: block;
      label {
        display: inline-block;
      }      
    }
    .font-family {
      display: grid;
      grid-template-columns: 1fr 30px;
      mat-icon {
        align-self: center;
        padding: .5em;
        cursor: pointer;
      }
    }
  }
}

.header {
  margin-top: .3em;
  display: grid;
  padding: 0 .5em;
  grid-template-columns: 100px 1fr 70px 100px 40px;
  grid-column-gap: 5px;
  &>* {
    align-self: baseline;
    display: block;
  }
  h2 {
    margin-bottom: 0;
  }
  a {
    cursor: pointer;
  }
}

ul {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 10pt;
    line-height: 28px;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 100px 1fr 70px 100px 40px;
    grid-column-gap: 5px;
    padding: 0 .5em;
    &:nth-child(odd) {
      background-color: #eee;
    }

    transition: all .3s ease-in-out;

    &:hover {
      cursor: pointer;
      background: #ddd;
    }

    .name {
      display: block;
    }

    &>span {
      display: block;
    }

    .spacing {
      text-align: right;
    }
  }
}
