<h2>
  <a class="help" href="https://material.angular.io/guide/typography" target="_blank" matBadge="?"
     matBadgeSize="small" rel="noopener">
    Fonts
  </a>
</h2>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [autoFocus]="false">
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        Edit Font - <span>{{editing ? editing.get('target').value || 'All' : ''}}</span>
        <span class="spacer"></span>
        <a mat-icon-button color="primary" (click)="sidenav.close()">
          <mat-icon data-close>close</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf="!!editing" class="options">
      <form [formGroup]="editing">
        <div class="font-family">
          <mat-form-field>
            <input matInput type="text" [formControl]="search" [matAutocomplete]="auto" placeholder="Family"
                   #familyInput [style.fontFamily]="editing.value.family" [style.fontWeight]="editing.value.variant">
          </mat-form-field>
          <mat-icon (click)="selectFont()">search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="pickFont(option)" *ngFor="let option of (searchItems | async)"
                        [value]="option.family">{{option.family}}</mat-option>
          </mat-autocomplete>
        </div>

        <mat-form-field>
          <label>Variant</label>
          <mat-select class="variant" formControlName="variant">
            <mat-option *ngFor="let v of variants" [value]="v">{{v}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <label>Size</label>
          <input matInput class="size" type="number" formControlName="size">
        </mat-form-field>
        <mat-form-field>
          <label>Line Height</label>
          <input matInput class="spacing" type="number" formControlName="lineHeight">
        </mat-form-field>
        <mat-form-field>
          <label>Spacing</label>
          <input matInput class="spacing" type="number" formControlName="spacing">
        </mat-form-field>
        <!--input class="capitalized" type="checkbox" formControlName="capitalized" -->
        <button mat-raised-button color="primary" (click)="sidenav.toggle()">Close</button>
      </form>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header">
      <span>Type</span>
      <span class="family"><a (click)="editAll(); sidenav.toggle()">Family</a></span>
      <span class="variant"><a (click)="editAll(); sidenav.toggle()">Variant</a></span>
      <span class="size"><a (click)="editAll(); sidenav.toggle()">Size</a></span>
      <span class="spacing"><a (click)="editAll(); sidenav.toggle()">Kern</a></span>
    </div>
    <ul>
      <li *ngFor="let k of keys; let i = index" (click)="edit(i); sidenav.toggle()">
        <span class="name">{{fonts[k].target}}</span>
        <span class="family" [style.fontFamily]="fonts[k].family">{{fonts[k].family}}</span>
        <span class="variant"
              [style.fontWeight]="fonts[k].variant === 'light' ? 300 : (fonts[k].variant === 'medium' ? 500 : 400)">{{fonts[k].variant}}</span>
        <span class="size">{{fonts[k].size}}{{fonts[k].size ? 'px'
          :'auto'}}/{{fonts[k].lineHeight}}{{fonts[k].lineHeight &lt; 2 ? 'em': 'px'}}
        </span>
        <span class="spacing">
          {{fonts[k].spacing}}px
        </span>
      </li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>
