pre {
  padding: 1em;
  font-size: 10pt;
  display: block;
  background: #333;  
  color: white;
}

:host {
  [mat-dialog-content]  {
    padding: 1em;
  }
}

mat-toolbar-row {
  .spacer {
    width: 100%;
    display: block;
  }
}
