/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

html {
  overflow: hidden;
}

body {
  font-family: Raleway;
}