:host {
  font-size: .8rem;
  display: block;
  line-height: .8rem;

  mat-button-toggle /deep/ .mat-button-toggle-label-content {
    line-height: 2em;
  }

  mat-button-toggle:first-child {
    background-color: white;
    color: #111;
  }

  mat-button-toggle.mat-button-toggle-checked {
    border-bottom: 2px solid hotpink;
  }
}