:host {
  display: block;
  mat-button-toggle-group {
    font-size: .8rem;
    line-height: .8rem;

    mat-button-toggle ::ng-deep .mat-button-toggle-label-content {
      line-height: 2em;
    }
  }
  a.notice {
    font-size: .8rem;
    text-decoration: underline;
    padding-left: 1em;
    cursor: pointer;
  }
}

h2 {
  margin:  0;
}