<h2>
  <a class="help" href="https://material.io/design/iconography/system-icons.html#icon-themes"
     target="_blank" matBadge="?" matBadgeSize="small" rel="noopener">
    Icons</a>
</h2>
<mat-button-toggle-group [formControl]="iconSet">
  <mat-button-toggle
                     *ngFor="let k of opts" [value]="k" [checked]="iconSet.value === k"
                     matToolTip="Icon support requires some additional configuration until the icons are integrated into icon fonts">
    {{k}}
  </mat-button-toggle>
</mat-button-toggle-group>
<a class="notice" (click)="showNotice()">Notice</a>
