<div class="inner mat-typography mat-app-background">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="/assets/logo.png" height="48" alt="logo"> Material Theme Generator
      <app-lightness-picker></app-lightness-picker>
      <span class="spacer"></span>
      <div class="button-group">
        <button mat-raised-button color="accent" (click)="makeLink()">Share via Link</button>
        <button mat-raised-button color="accent" (click)="exportCSS()">Copy CSS</button>
        <button mat-raised-button color="accent" (click)="exportSCSS()">Copy Angular SCSS</button>
        <button *ngIf="!showingSource" mat-raised-button color="accent" (click)="showSource(true)">View
          Source SCSS</button>
        <button *ngIf="showingSource" mat-raised-button color="accent" (click)="showSource(false)">View
          Demo</button>
        <button mat-flat-button color="primary" (click)="showCredits()">Credits</button>
        <a href="https://github.com/arciisine/MaterialThemeGenerator" mat-icon-button color="primary"
          title="GitHub" target="_blank" rel="noopener">
          <mat-icon svgIcon="github"></mat-icon>
        </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="tools">
    <app-palette-picker></app-palette-picker>
    <mat-divider></mat-divider>
    <app-icon-picker></app-icon-picker>
    <mat-divider></mat-divider>
    <app-font-picker></app-font-picker>
  </div>
  <div class="preview" [class.ready]="isReady">
    <iframe src="/preview" (load)="onReady()" [hidden]="showingSource" title="Material Preview"></iframe>
    <pre [style.display]="showingSource ? 'block': 'none'" class="hljs"><code class="scss" [innerHTML]="sourcePretty"></code></pre>
  </div>
  <div class="preview loading ready" *ngIf="!isReady">
    <span class="message">Loading...</span>
    <div class="wrapper">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
  </div>
</div>
